<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hactyki">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KodeinClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.candidateuser.SolvedTestsListActivity"></activity>
        <activity android:name=".ui.companyuser.CandidateListActivity" />
        <activity android:name=".ui.companyuser.TestPropertyActivity" />
        <activity android:name=".ui.candidateuser.TestCandidateActivity" />
        <activity android:name=".ui.candidateuser.HomeCandidateActivity" />
        <activity android:name=".ui.companyuser.TestPropertiesActivity" />
        <activity android:name=".ui.companyuser.NewQuestionActivity" />
        <activity android:name=".ui.companyuser.NewTestActivity" />
        <activity android:name=".ui.auth.SignUpActivity" />
        <activity android:name=".ui.companyuser.HomeCompanyUserActivity" />
        <activity android:name=".ui.auth.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>